* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  line-height: 160%;
}

body {
  background-image: url(./assets/fundo.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-color: #121214;
  background-repeat: no-repeat;
}

header {
  padding-top: 32px;
  height: calc(120px + 32px);
  
}

header div {
  width: 120px;
  margin: auto;
  border-radius: 50%;
  border: 4px;
  background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);

  display: flex;
  padding: 4px;

  
}

header div img {
  width: 100%;
  border-radius: 50%;
  
}

main {
  max-width: 520px;
  width: 90%;

  display: grid;
  gap: 24px;
  margin: 32px auto;
  
}

section {
  color: white;
  padding-top: 4px;
  background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
  border-radius: 8px;
  
}

section div {
  background-color: #262629;
  padding: 32px;
  
  border-radius: 5px;
}

section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

section ul li a img {
  transition: transform 200ms;
}

section ul li a img:hover {
  transform: scale(1.1);
}


section ul li a img {
  max-width: 100px;
  max-height: 150px;
  margin-top: 24px;
  border: 1px solid #555555;
  border-radius: 8px;
}

section ul li a:nth-child(3) {
  border: 2px solid #EEEEEE;
  border-top: 38px;
  width: 385px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

section div h2, section div p {
  font-family: 'Montserrat', sans-serif;
}

section div h2 {
  color: white;

  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}

section div p {
  color: #C1C1C1;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  letter-spacing: -0.18px;
}

/* Animações */

header div {
  animation: topDown 700ms .2s backwards;

}

main section:nth-child(1) {
  animation: rigthLeft 700ms .4s backwards;
}

main section:nth-child(2) {
  animation: leftRigth 700ms .6s backwards;
}

main section:nth-child(3) {
  animation: rigthLeft 700ms .8s backwards;
}

@keyframes topDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rigthLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftRigth {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}